body{
    font-family: 'Poppins', sans-serif;
}


h1{
    margin: 0;
    font-size: 60px;
}

h3{
    font-weight: 600;
    color: rgb(15, 194, 218);
}

p{
    color: dimgrey;
    font-weight: 400;
   
}

.small-text{
   padding-top: 30px;
   color: 
   #434343;
}

.blue-color{
    color: rgb(39, 68, 231);
}

.red-color{
    color: rgb(240, 40, 40);
}

.focus{
    display: flex;
    margin-top: 120px;
}

.heading{
   
   padding-left: 10px; 
   border-left: 5px solid;
   border-image:linear-gradient(rgb(249, 253, 6), rgb(255, 72, 0));
   border-image-slice: 1;
}

.half-width{
    width: 50%;
    padding-left: 10%;

}

.half-width img{
    width: 58%;
   
}

.button{
    
    text-decoration: none;
    color: rgb(238, 238, 238);
    background: linear-gradient(rgb(243, 0, 0), black);
    border-radius: 2px;
    
    padding: 8px 25px
    

}

.my-mission{
    margin-top: 60px;
}

.mission-title{
    display: flex;
    justify-content: center;
}

.cards{
    
    
    display: flex;
    padding-left: 10%;
    
    
}
.cards{
    margin-top: 45px;
  
}
.card-items{
    width: 33%;
    padding: 20px;
}

.card-items img{
    width: 40%;
}



.mission{
    height: 360px;
    width: 376px;
    background: rgba(136, 197, 38, 0.185);
    border-radius: 25px;
    margin-right: 24px;
}

.vission{
    height: 360px;
    width: 376px;
    background: rgba(38, 197, 136, 0.185);
    border-radius: 25px; 
    margin-right: 24px;
}

.goals{
    height: 360px;
    width: 376px;
    background: rgba(197, 38, 126, 0.185);
    border-radius: 25px;
    margin-right: 24px;
}