body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


h1{
    margin: 0;
    font-size: 60px;
}

h2{
    font-size: 36px;
    font-weight: normal;
}

h3{
    font-weight: 600;
    color: rgb(15, 194, 218);
}

p{
    color: dimgrey;
    font-weight: 400;
   
}

.small-text{
   padding-top: 30px;
   color: 
   #434343;
}

.blue-color{
    color: rgb(39, 68, 231);
}

.red-color{
    color: rgb(240, 40, 40);
}

.white-color{
    color: white;
}


.focus{
    display: flex;
    margin-top: 120px;
}

.heading{
   
   padding-left: 10px; 
   border-left: 5px solid;
   border-image:linear-gradient(rgb(249, 253, 6), rgb(255, 72, 0));
   border-image-slice: 1;
}

.half-width{
    width: 50%;
    padding-left: 10%;

}

.half-width img{
    width: 58%;
   
}

.button{
    
    text-decoration: none;
    color: rgb(238, 238, 238);
    background: linear-gradient(rgba(17, 133, 36, 0.767), rgb(5, 112, 252));
    border-radius: 2px;
    padding: 8px 25px;
    

}

.my-mission{
    margin-top: 60px;
}

/* refactorable */

.justify-items{
    display: flex;
    justify-content: center;
}

.cards{
    
    
    display: flex;
    padding-left: 10%;
    
    
}
.cards{
    margin-top: 45px;
  
}
.card-items{
    width: 33%;
    padding: 20px;
}

.card-items img{
    width: 40%;
}



.mission{
    height: 360px;
    width: 376px;
    background: rgba(136, 197, 38, 0.185);
    border-radius: 25px;
    margin-right: 24px;
}

.vission{
    height: 360px;
    width: 376px;
    background: rgba(38, 197, 136, 0.185);
    border-radius: 25px; 
    margin-right: 24px;
}

.goals{
    height: 360px;
    width: 376px;
    background: rgba(197, 38, 126, 0.185);
    border-radius: 25px;
    margin-right: 24px;
}


.about h1{
    
    font-weight: 700;
    font-size: 36px;
    margin: 0;
    

}

.about-card{
    display: flex;
    margin-top: 80px;

}


    

.about-image{
    padding-left: 10%;
    width: 400px;
    height: 400px;
    padding-right: 72px;
}

.about-image img{
    width: 100%;
    border-radius: 25px;
}

.about-details{
    padding: 5%;
    width: 645px;
    height: 315px;
}

.community{
    padding-left: 10%;
}

ul {
    text-decoration: none;
    list-style: none;
}

ul>li>a{
    text-decoration: none;
    color: red;
    padding-left: 23%;
}



.about-us{
    width: 100%;
    height: 200px;
    background: rgba(128, 128, 128, 0.185);
}

.about-left{
    display: flex;
    padding-left: 40%;
    padding-right: 2%;
}



.about-us{
    display: flex;
}

.contact{
    display: flex;
    padding-left: 2%;
    padding-right: 40%px;
    padding-top: 5%;
   
    border-left: 2px solid green;
}


footer{
    
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 150px;
    background: black;
    
}

footer h2{
    font-family: 'Lobster', cursive;
}








